.container {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 30px 20px;
    background-color: white;
    border: 1.5px solid rgb(184, 182, 182);
    border-radius:  10px ;
}

@media  (max-width: 770px){
    .container{
        width: 100%;
    }
}

