.container {
    margin: 200px 0 50px 0;
}

@media only screen and (max-width: 960px) {
    .container {
        margin-top: 250px ;
    }
}

.card {
    margin: 15px 2% !important;
    border: 0.5px solid rgb(207, 204, 204);
    border-radius:  10px !important;
    width: 400px;
    height: 200px;
}

.infected {
    color: rgba(165, 72, 72) !important;
    margin: 15px 20px !important;

}

.recovered {
    color: rgb(0, 128, 0 ) !important;
    margin: 15px 20px !important;
}

.deaths {
    color: rgba(1, 16, 80) !important;
    margin: 15px 20px !important;
}

.description {
    padding-top: 15px !important;
    font-size: 18px !important;
    color: black !important;
}
