.container {
    margin: 50px 0;
}

.card {
    margin: 50px 2% !important;
    border: 0.5px solid rgb(102, 98, 98, 0.2);
}

.infected {
    border-bottom: 15px solid rgb(255, 0, 0, 0.6) ;
}

.recovered {
    border-bottom: 15px solid rgb(0, 128, 0 , 0.6);
}

.deaths {
    border-bottom: 15px solid rgb(0, 0, 0, 0.6);
}

.description {
    padding-top: 15px !important;
}
