body {
    background-color: #dcddeb;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media  (max-width: 770px){
    .container{
        margin: 0 10px;
    }
}

.image {
    width: 280px;
    margin: 20px auto 0 auto;
}