body {
    background-color: #f3f3f3;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

@media  (max-width: 770px){
    .container{
        margin: 0 10px;
    }
}

.image {
    width: 300px;
    top: 20px; 
    position: absolute;
    z-index: 10;
    left:200px;
}

.header {
    width: 100vw
}


button {
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 200px;
    width: 180px;
    height: 60px;
    background-color: #0e1b46;
    color: white;
    border-radius: 15px;
    outline: none;
    letter-spacing: 1.9px;
    cursor:pointer;
}

.symptoms {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: #f3f3f3;
}